<div class="container">

    <div id="list1" class="box-items" cdkDropList cdkDropListOrientation="vertical" [cdkDropListData]="allItems"
        [cdkDropListConnectedTo]="containers" (cdkDropListDropped)="drop($event)">
        <div [ngStyle]="{'background-color': i.color }" class="drag-box" *ngFor="let i of allItems" cdkDrag>
            {{ i.name }}
        </div>
    </div>

</div>


<div class="buckets">
    <div *ngFor="let container of originalData">
        <div id="{{container.name}}" class="box-list" [ngStyle]="{'background-color': container.color }" cdkDropList
            cdkDropListOrientation="vertical" [cdkDropListData]="container.items_new" (cdkDropListDropped)="drop($event)"
            [cdkDropListConnectedTo]="containers">
            <div [ngStyle]="{'background-color': item.color }" class="drag-box" *ngFor="let item of container.items_new" cdkDrag>
                {{ item.name }}
            </div>
        </div>
    </div>
</div>

<button [disabled]="allItems.length>0" (click)="submit()" type="button" >Submit</button>

<button *ngIf="viewReTry" (click)="reTry()" type="button" >Retry</button>